[user]
	name = Thomas Floyd Wright
	email = tfwright@gmail.com
[alias]
	# common
	co = checkout
	ci = commit -a -m
	st = status -s
	br = branch
	p  = pull --rebase -p
        fix = commit -a --fixup

	# stash
	sl = stash list
	sa = stash apply
	ss = stash save

	# search
	f = "!git ls-files | grep -i"
	gr = grep -Ii

	# gem install hub
	browse       = !hub browse  -- tree/$(git branch-name)
	compare      = !hub compare $(git branch-name)
	pull-request = !hub pull-request

	branch-name  = !git symbolic-ref HEAD | sed 's|refs/heads/||g'
	ri           = rebase --interactive --autosquash $(git merge-base head master)

	# log
        l = "!git --no-pager log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" -10"
        changelog = log --no-merges --pretty=format:\"%cn * %s\"
[color]
	diff = auto
[push]
	default = tracking
[branch]
	autosetupmerge = always
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore-global
