[user]
	name = Thomas Floyd Wright
	email = tfwright@gmail.com
[alias]
	# common
	co = checkout
	ci = commit
	st = status
	br = branch
	p  = pull -p

	# gem install hub
	browse       = !hub browse  -- tree/$(git branch-name)
	compare      = !hub compare $(git branch-name)
	pull-request = !hub pull-request

	branch-name  = !git symbolic-ref HEAD | sed 's|refs/heads/||g'
	ri           = rebase --interactive --autosquash

	# log
	l = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" -10
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	changelog = log --pretty=format:\" * %s\"
[color]
	diff = auto
[push]
	default = tracking
[branch]
	autosetupmerge = always
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore-global